@import "../variables";

.product-banner {
  width: 100%;
  height: auto;
  background-color: #112237;
  background-image: url("../../../assets/images/gods/gods-bkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  border-top: 1px solid #85784a;

  .inner {
    padding: 50px 0;
  }

  .title-wrap {
    width: 100%;
    margin: 0 0 35px 0;
    text-align: center;

    .title {
      font-size: 36px;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: $whiteColor;
    }
  }

  .products {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .product {
      width: 24%;

      .product__image {
        width: 100%;
      }

      .product-info {
        width: 100%;
        padding: 10px;
        color: $whiteColor;
        text-align: center;
        border: 1px solid #85784a;

        .product__title {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}